// .banner .nav li {
//     @extend .nav-item;
//   }
  
//   .banner .nav a {
//     @extend .nav-link;
//   }
footer {

}
.footer {
    display: flex;
    //grid-template-columns: 1fr 1fr;
    //grid-gap: 1em;
    justify-content: center;
    margin:80px 0 40px 0;
    .footer-content {
      border: 2px solid black;
      padding: 8px 40px;
      img {
        height: 40px;
      }
      .footer-icons {
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        .footer-icon {
          padding: 4px 8px;
        }
      }
    }
    .footer-copyright {
      text-align: center;
    }
}


